@model IEnumerable<UserModel>

@{
    ViewData["Title"] = "Users";
}

<h2 class="display-6">Пользователи</h2>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Имя</th>
            <th class="text-center" scope="col">Фамилия</th>
            <th class="text-center" scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <th class="col-1 text-center align-middle" scope="row">@user.UserId</th>
                <td class="col-3 text-center align-middle">@user.UserName</td>
                <td class="col-3 text-center align-middle">@user.UserSurname</td>
                <td class="col-3 text-center align-middle">@user.UserEmail</td>
            </tr>
        }
    </tbody>
</table>