@model IEnumerable<ProductModel>

@{
    ViewData["Title"] = "Home";
}

<ul style="display: flex; justify-content:center; gap: 24px; flex-wrap: wrap;">
    @foreach (var product in Model)
    {
        <li class="card" style="width: 300px;">
            <div class="text-center" style="padding: 8px 12px">
                <img src="/ProductImages/@product.ProductImage" style="height: 296px; width: auto;">
            </div>
            <div class="card-body">
                <h5 class="card-title">@product.ProductName</h5>
                <p class="card-text">@product.ProductPrice</p>
                <a asp-area="" asp-controller="Cart" asp-action="AddProduct" asp-route-productId="@product.ProductId" class="btn btn-primary">В корзину</a>
            </div>
        </li>
    }
</ul>