@model ProductModel
@{
	ViewData["Title"] = "Create";
}


<div class="container justify-content-center" style="width: 500px">
    <form method="post" enctype="multipart/form-data" asp-area="Admin" asp-controller="Product" asp-action="Create">
        <h2 class="display-6 text-center">Добавить</h2>
        <div class="col-12 mb-2">
            <label asp-for="ProductName" class="form-label">Название</label>
            <input asp-for="ProductName" type="text" class="form-control">
            <span asp-validation-for="ProductName"></span>
        </div>
        <div class="col-12 mb-2">
            <label asp-for="ProductPrice" class="form-label">Стоимость</label>
            <input asp-for="ProductPrice" type="text" class="form-control">
            <span asp-validation-for="ProductPrice"></span>
        </div>
        <div class="col-12 mb-2">
            <label for="image" class="form-label">Изображение</label>
            <input type="file" name="image" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>