* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.product-list {
    display: flex;
    justify-content: space-evenly;
}

.product-container {
    position: relative;
    height: 100%;
}

.product-content {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 100%;
}

.product-img {
    display: flex;
    justify-content: center;
    padding: 12px
}

.product-img img {
    height: 360px;
    width: auto;
    vertical-align: middle;
}

.product-group {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 10px;
}

.product-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.product-price {
    font-size: 24px;
}

.product-btn {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    color: black;
    border: solid black 1px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    transition: 0.2s;
}

.product-btn:hover {
    background-color: black;
    color: #F5F5F5;
}